@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --width: min(1200px, calc(100vw - 50px));
    --padding: calc(50vw - var(--width) / 2);

    --theme: #2A6E58;
}

body{
    font-family: Inter, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    background: var(--theme);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 20px;
    flex-wrap: wrap;
}

header .left{
    color: white;
    font-weight: 900;
    font-size: 48px;
}

header .right{
    text-align: right;
}

.action{
    background: var(--theme);
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.action:hover{
    opacity: 0.8;
}

main{
    padding: 50px var(--padding);
    width: 100%;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

#divider{
    border-right: 1px solid #DEDEDE;
    height: 50vh;
}

aside{
    flex: 1;
    min-width: 300px;
    height: 100%;
}

aside h1{
    font-size: 24px;
    margin-top: 0;
}

.device{
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.id{
    font-weight: 300;
    font-size: 12px;
}

.user_wrapper{
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.user{
    flex: 1;
}

.user_options{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.accept, .deny{
    font-size: 14px;
    padding: 0 10px;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

#dwrapper{
    flex: 1;
    padding: 20px;
}


#display_wrapper{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

#display_wrapper button{
    background: white;
    font-size: 12px;
    border: 1px solid black;
    cursor: pointer;
}

.accept:hover{
    background: #f0fdf4;
}

.deny:hover{
    background: #fff1f2;
}

#preview{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.window{
    height: 125px;
    min-width: 208px;
    border: 1px solid black;
    padding: 5px;
    font-size: 8px;
    overflow: hidden;
    flex: 1;
    font-family: "Computer Modern Serif", serif;
}

.window.cur{
    background: lightyellow;
}

#controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

div#devices_wrapper {
    max-height: calc(100vh - 300px);
    overflow: auto;
}

#timer{
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px;
    text-align: left;
}

.device:hover{
    text-decoration: line-through;
    cursor: pointer;
    color: red;
    border-color: red;
}


.cnameinput {
    width: 85%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cseedinput {
    width: 14%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}